p {
    font-family: "Roboto", "Arial", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding-top: 70px;
    padding-left: 80px;
    height: 900px;
}

a {
    text-decoration: none;
    color: inherit;
  }
  