p {
    font-family: "Roboto", "Arial", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding-top: 70px;
    padding-left: 80px;
    padding-bottom: 90px;
}

a {
    text-decoration: none;
    color: inherit;
  }

@media (max-width:790px) {
.sidebar {
    opacity: 0;
}
body{
    padding-left: 0px;
}
}
