.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin-top: 6px;
}

.heading-text {
    margin-left: 15px;
    font-family: roboto,arial;
    font-weight: 700;
    font-size: 20px;
}

.manage-btn {
    font-family: roboto,arial;
    font-weight: 500;
    color: rgb(6, 95, 212);
    font-size: 14px;
    border-radius: 25px;
    margin-right: 25px;
    padding: 10px 16px 10px 16px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.manage-btn:hover {
    background-color: rgba(6, 95, 212,0.1);
}
